{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% block title %}
    {{ product.title }}
{% endblock %}
{% block content %}

    <!-- location -->
    <ul class="location">
        <li><a href="{% url 'home' %}">خانه</a> /</li>
        <li><a href="{% url 'product-list' %}">محصولات</a> /</li>
        <li>{{ product.title }}</li>
    </ul>
    <!-- location -->


    <!-- start product -->

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">

                <!-- slider -->
                <div class="slider" id="Slider">
                    <!-- slide -->
                    <div class="slide" id="Slide_1">
                        <button class="slide-right-btn" onclick="MoveSliderRight()"><i
                                class="fa fa-arrow-right"></i></button>
                        <img src="/{{ product.main_image }}"/>
                        <button class="slide-left-btn" onclick="MoveSliderLeft()"><i
                                class="fa fa-arrow-left"></i></button>
                        <div class="slide-count">
                            <span class="slide-show" onclick="ChangeSlide(1)"></span>
                            {% for i in product_images_count %}
                                <span onclick="ChangeSlide({{ i|add:2 }})"></span>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- slide  -->
                    {% for img in product_images %}
                        <!-- slide -->
                        <div class="slide" id="Slide_{{ forloop.counter|add:1 }}">
                            <button class="slide-right-btn" onclick="MoveSliderRight()"><i
                                    class="fa fa-arrow-right"></i></button>
                            <img src="/{{ img.image }}"/>
                            <button class="slide-left-btn" onclick="MoveSliderLeft()"><i
                                    class="fa fa-arrow-left"></i></button>
                            <div class="slide-count">
                                <span class="slide-show" onclick="ChangeSlide(1)"></span>

                                {% for i in product_images_count %}
                                    <span onclick="ChangeSlide({{ i|add:2 }})"></span>
                                {% endfor %}


                            </div>
                        </div>
                        <!-- slide  -->
                    {% endfor %}
                </div>
                <!-- slider -->
            </div>
            <div class="col-md-1"><br></div>
            <div class="col-12 col-md-7">

                <h1>
                    {{ product.title }}
                </h1>
                <h3 class="text-success product-price">{{ product.discount_price }} تومان</h3>
                <br>
                <br>
                <p>
                    {{ product.description }}
                </p>

                <br>

                <table class="table table-bordered">
                    <tr>
                        <th>برند</th>
                        <td>{{ product.brand.title }}</td>
                    </tr>
                    {% for feature in product_features %}
                        <tr>
                            <th>{{ feature.title }}</th>
                            <td>{{ feature.value }}</td>
                        </tr>
                    {% endfor %}

                </table>

            </div>
        </div>
    </div>


    <!-- end product -->


    <!-- start add to cart button -->

    <div method="post" class="add-product-to-cart shadow">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}">
         <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
        <a data-mdb-button-init data-mdb-ripple-init
           href="{% url 'decrease-cart-product' cart_id=cart_id %}"
           class="btn btn-link px-2"
           onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
            <i class="fa fa-minus"></i>
        </a>

        <input id="form1" min="0" name="quantity"
               value="{{ product_quantity }}" type="number"
               class="form-control form-control-sm" readonly/>

        <a data-mdb-button-init data-mdb-ripple-init
           href="{% url 'increase-product-to-cart' product_id=product.id %}"
           class="btn btn-link px-2"
           onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
            <i class="fa fa-plus"></i>
        </a>
         </div>
    </div>

    <!-- end add to cart button -->



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    {% render_partial 'product-comments' product_id=product.id %}

{% endblock %}

{% block script %}
    <script src="/static/libs/jquery/jquery.js"></script>
    <script src="/static/scripts/slider.js"></script>
    <script src="/static/scripts/Product_page.js"></script>
{% endblock %}